<%- include ../partials/header.ejs %>

<br>
<br>
<br>

<!-- Main Content -->
<div class="jumbotron" style="background-color:#171d25">
    <div class="jumbotron" style="background-color:#11161b">
<main class="container">
    <h1 align="center" style="color:rgb(47, 247, 247)">Business Contact List </h1>
    <div  style="text-align:center;" class="row">
        <div class="table-responsive" >
            <table class="table table-hover" style="color:azure">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>
                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < InventoryList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= InventoryList[count].name %></td>
                        <td class="text-center"><%= InventoryList[count].contact %></td>
                        <td class="text-center"><%= InventoryList[count].email %></td>
                        <td class="text-center">
                            <a href="/inventory/edit/<%= InventoryList[count]._id %>" class="btn btn-info btn-sm">
                            <i class="fas fa-pencil-alt"></i> Update</a>
                        </td>
                        <td class="text-center">
                            <a href="/inventory/delete/<%= InventoryList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
    </div>
</div>

<%- include ../partials/footer.ejs %>
  





